{% extends 'base.html' %}
{% load i18n %}


{% block central-content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">Рекламодателям</h1>
        </div>
        <div class="panel-body">
            <p>Коллектив сайта <strong>Обэлектрике </strong>приглашает к сотрудничеству всех, кто работает в сфере электротехники.</p>

            <p>Условия мы предлагаем вполне интересные и взаимовыгодные: от обмена баннерами на страницах, которые Вас интересуют, до проведения большой работы по сравнению Ваших электроприборов с товарами конкурентов. Это могут быть статьи, посвящённые Вашим товарам, с обратными ссылками на изделия или заказная статья обзора прибора. Для честной оценки нужно и время и усилия наших специалистов. Тем более что мы, конечно же, найдём с чем сравнивать. За свой счёт.</p>

            <p>Не многие рискнули предложить свои приборы, но те, кто это сделал, оценили наш ресурс, популярность которого растёт не только благодаря&nbsp; честности информации, но и практическому опыту тех, кто готов поделиться этим опытом бесплатно.</p>

            <p>Если у Вас есть что предложить нашим читателям – предлагайте!</p>

            <p>Мы не обещаем резкого роста продаж, но понимание того, что Вы предложили стоящую вещь, гарантируем.</p>

            <p>Российские купцы руководствовались девизом – «Прибыль превыше всего, но честь превыше прибыли». Нам кажется, очень правильным следовать этой проверенной веками мудрости.</p>

            <p>Мы предлагаем различные способы сотрудничества с рекламодателями - размещение фиксированных статей в разделах, закрепление в списке <em>рекомендованные компании</em>, рекомендация в ответах пользователям, размещение баннеров на страницах сайта, спонсорство над разделом. Просто напишите нам на <a href="mailto:support@belektrike.ru"><strong>support@obelektrike.ru</strong></a>, все варианты обсуждаемы.</p>

            <div style="float: left; width: 60%;">
            <p><img alt="реклама" src="/media/uploads/posts/2016/04/21/adv.jpg" style="width: 400px; height: 377px;"></p>

            <p>&nbsp;</p>

            <p><img alt="реклама 1" src="/media/uploads/posts/2016/04/21/adv1.jpg" style="width: 400px; height: 486px;"></p>

            <p>&nbsp;</p>

            <p><img alt="реклама 2" src="/media/uploads/posts/2016/04/21/adv2.jpg" style="width: 400px; height: 475px;"></p>

            <p>&nbsp;</p>

            <p><img alt="реклама 3" src="/media/uploads/posts/2016/04/21/adv3.jpg" style="width: 400px; height: 369px;"></p>
            </div>

            <div style="float: right; width: 40%; padding: 10px;">&nbsp;</div>

            <div style="float: right; width: 40%; padding: 10px;">&nbsp;</div>

            <div style="float: right; width: 40%; padding: 10px;">&nbsp;</div>

            <div style="float: right; width: 40%; padding: 10px;">&nbsp;</div>

            <div style="float: right; width: 40%; padding: 10px;"><b>* Баннер "Реклама сверху", 730x100 px</b><br>
            3 000 руб. - месяц<br>
            <br>
            <b>* Баннер "Реклама справа", 360x360 px</b><br>
            2 000 руб. - месяц<br>
            <br>
            <b>* Баннер "Реклама в блоке похожие статьи", 730x100 px</b><br>
            1 500 руб. - месяц<br>
            <br>
            <b>* Баннер "Реклама под статьями", 730x100 px</b><br>
            1 500 руб. - месяц<br>
            <br>
            <b>* Баннер "Реклама в комментариях к статье", 730x100 px</b><br>
            1 000 руб. - месяц<br>
            <br>
            * - размеры баннеров и цены на размещение могут варьироваться, в зависимости от запроса компании рекламодателя.<br>
            <br>
            <br>
            <b>Разработаем и выложим статьи</b> о Вашем продукте, Ваших услугах, Вашем сайте.<br>
            Стоимость разработки по договоренности.<br>
            <br>
            На данный момент посещаемость сайта - около 50000 человек в месяц.<br>
            <br>
            Подробную статистику по посещаемости и таргетингу вышлем по вашему запросу. Минимальный период рекламного размещения - 1 месяц.<br>
            <br>
            Услуги не облагаются НДС. Не является публичной офертой. Оплата через WebMoney, Яндекс.Деньги.<br>
            <br>
            Для оформления заявки на размещение свяжитесь с нами:<br>
            <a href="{% url 'feedback' %}">контакт с администрацией</a><br>
            или напишите на наш электронный ящик:<br>
            <a href="mailto:support@obelektrike.ru">support@obelektrike.ru</a></div>

        </div>
    </div>
{% endblock %}
