{% extends 'base.html' %}
{% load i18n %}
{% load thumbnail %}


{% block menu %}
    {{block.super}}
    <div class="container menu-container">
        <div class="row">
            {% for category in categories %}
            <div class="col-lg-2">
                <a href="{% url 'posts-category-list' category.slug %}" class="thumbnail">
                    <div class="menu-container-item {{category.image_class}}"></div>
                    <div class="caption centered-text">
                        {{category.name}}
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block central-content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title"><span class="fa fa-bars"></span> НОВЫЕ ИНТЕРЕСНЫЕ СТАТЬИ НА ПОРТАЛЕ</h2>
        </div>
        <div class="panel-body">
            <ul class="media-list">
                {% for post in new_posts %}
                <li class="media">
                    <div class="media-body">
                        <div class="pull-left">
                            {% thumbnail post.picture "170x170" crop="center" as thumb_img %}
                                <img class="media-object" src="{{thumb_img.url}}" alt="{{post.title}}">
                            {% endthumbnail %}
                        </div>
                        <h3 class="media-heading media-heading-left"><a href="{% url 'posts-category-detail' post.slug %}">{{post.title}}</a></h3>
                        {% include 'post-header.html' with object=post %}
                        {{post.announcement|safe}}
                    </div>
                    {% include 'post-footer.html' with object=post %}
                    <hr>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="middle-rek">
        {{adv_middle|safe}}
        <br>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title"><span class="fa fa-bars"></span> ПРАКТИЧЕСКИЕ СОВЕТЫ</h2>
        </div>
        <div class="panel-body">
            <ul class="media-list">
                {% for post in practic_posts %}
                <li class="media">
                    <div class="media-body">
                        <div class="pull-left">
                            {% thumbnail post.picture "170x170" crop="center" as thumb_img %}
                                <img class="media-object" src="{{thumb_img.url}}" alt="{{post.title}}">
                            {% endthumbnail %}
                        </div>
                        <h3 class="media-heading media-heading-left"><a href="{% url 'posts-category-detail' post.slug %}">{{post.title}}</a></h3>
                        {% include 'post-header.html' with object=post %}
                        {{post.announcement|safe}}
                    </div>
                    {% include 'post-footer.html' with object=post %}
                    <hr>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}


{% block bottom-content %}
    <div class="panel panel-default about">
        <div class="panel-heading">
            <h2 class="panel-title"><span class="fa fa-globe"></span> О НАС</h2>
        </div>
        <div class="panel-body">
            <h3><strong>Проект <em>Об Электрике </em>- все об электрике и электропроводке в доме свои руками</strong></h3>

            <p><strong>Об Электрике</strong> - это молодой интернет-проект, который не боится конкуренции и стремится стать лучшим во всём Рунете. Мы не делимся ссылками и баннерами, мы делимся знаниями. Знаниями, не вычитанными из интернета, а полученными на основе личного опыта наших авторов.</p>

            <p>Квартиры, дома, бани, бытовки и сараи. Уличное освещение и монтаж прожекторов. Видеонаблюдение, сигнализация, тонкие слаботочные системы и многое другое.  </p>

            <p>Все эти работы делали наши авторы, ошибаясь, спотыкаясь и зная, что это готовы сделать профессионалы за деньги. За очень большие деньги, особенно, если Вы не можете сделать это сами, и не понимаете, что именно Вам делают.</p>

            <p>Наш проект небескорыстен, но и не коммерчески ориентирован.</p>

            <p>Если Вы имеете свой опыт в данной сфере – пришлите нам статью. Просто обрисуйте ситуацию, мы её обдумаем, и на сайте «Об Электрике» появится ещё чуточку больше знаний, уберегающих от ошибок.</p>

            <p>Коллектив энтузиастов, который на собственном опыте освоил эту непростую профессию –  электрика, принял решение создать портал, который позволит любому читателю, начав с простых действий, освоить электрику. Обуздать практику электрики поможет сложная теория, о которой мы расскажем простыми словами.</p>

            <p>Профессионалы, владеющие сложными комплексами различного оборудования, помогают нам исследовать элементную базу. Здёсь всё: от лампочки, до многоцелевых КИП и каждая статья нацелена на то, чтобы Вы понимали, с чем имеете дело. Знание – сила, а в деле выбора ещё и экономия денег.</p>

            <p>Так что читайте, делитесь своими знаниями, вступайте в наш клуб. В клуб людей, которые, начиная с нуля, сами подружились с электричеством, и помогают это сделать другим.</p>

            <p>Если Вы хотите стать партнёром и предложить свои товары, то мы готовы к предложениям. Но перед этим будет честная оценка и сравнение с конкурентными товарами.  Наш портал рекомендует разные изделия, но только те, в качестве которых мы убедились сами. Пишите нам на <a href="mailto:support@obelektrike.ru"><strong>support@obelektrike.ru</strong></a>.</p>

            <p>Приветствуем Вас на наших страницах. Начинайте с простого, давайте учиться вместе!</p>

            <p><strong>Добро пожаловать в наш клуб!</strong></p>
        </div>
    </div>
{% endblock %}
